/* header */
header{
    display: flex;
    justify-content: space-between;
}

button{
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    min-height: 32px;
    font-size: 16px;
    padding: 10px;
}
/* main */
.searchWindow{
    height: 32px;
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 10px;
}



.listView{
    display: flex;
    justify-content: center;
    color: var(--secondaryColor);
}
/*detailView*/
.detailView{
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: var(--accentChalk);
    border-radius:var(--radius);
    box-shadow: var(--shadow);
    color: var(--secondaryColor);
}

#backBtn{
    margin-bottom: 15px;
}

textarea.comments{
    width: 100%;
    padding: 10px;
    border-radius: var(--radius);
    border: 1px solid var(--secondaryColor);
}

.rating-stars span {
  font-size: 1.4rem;
  cursor: pointer;
  opacity: 0.3;
  transition: transform 0.1s ease, opacity 0.1s ease;
}

.rating-stars span.active {
  opacity: 1;
  transform: scale(1.1);
}



/* footer */