* {
  padding: 0;
  margin: 0; 
}

/*Stone &Nature*/
:root {
  /*Base Stone&Nature*/
  --primaryColor: rgb(240, 240, 240);
  --secondaryColor: rgb(30, 30, 30);
  /*Accents*/
  --accentMoss: rgb(102,153,102);
  --accentChalk: rgb(245,245,245);
  --accentRope: rgb(178,34,34);
  --highlightSky: rgb(70,130,180);
}

@media (prefers-color-scheme: dark){
  :root {
    --primaryColor: rgb(30, 30, 30);
    --secondaryColor: rgb(240, 240, 240);

    --accentMoss: rgb(102, 153, 102);
    --accentChalk: rgb(200, 200, 200);
    --accentRope: rgb(220, 50, 50);
    --accentSky: rgb(100, 160, 210);
  }

}

/*Mountain Landscape*/
body.mountain{
  /*Base*/
  --primaryColorOne: rgb(245,245,245);
  --secondColorTwo: rgb(35,35,40);
  /*Accents*/
  --accentPine: rgb(44,120,74);
  --accentSunset: rgb(255,140,50);
  --accentSky: rgb(130,170,255);
  --accentSnow: rgb(220,220,220);
}

@media (prefers-color-scheme: dark) {
  body.mountain {
    --primaryColorOne: rgb(35, 35, 40);
    --secondaryColorTwo: rgb(245, 245, 245);

    --accentPine: rgb(44, 120, 74);
    --accentSnow: rgb(220, 220, 220);
    --accentSunset: rgb(255, 140, 50);
    --accentSky: rgb(130, 170, 255);
  }
}



body {
  background-color: var(--primaryColor);
  color: var(--secondaryColor);
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*.hidden{
  display: none;
}*/

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul li{
  float: left;
}

ul li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.pTag{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.mapContainer iframe{
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

iframe{
  width: 100%;
  height: 600px;
  border: none; 
}
