* {
  padding: 0;
  margin: 0; 
}

/*Stone &Nature*/
:root {
  /*Base Stone&Nature*/
  --primaryColor: rgb(240, 240, 240);
  --secondaryColor: rgb(30, 30, 30);
  /*Accents*/
  --accentMoss: rgb(102,153,102);
  --accentChalk: rgb(245,245,245);
  --accentRope: rgb(178,34,34);
  --highlightSky: rgb(70,130,180);
}

@media (prefers-color-scheme: dark){
  :root {
    --primaryColor: rgb(30, 30, 30);
    --secondaryColor: rgb(240, 240, 240);

    --accentMoss: rgb(102, 153, 102);
    --accentChalk: rgb(200, 200, 200);
    --accentRope: rgb(220, 50, 50);
    --accentSky: rgb(100, 160, 210);
  }

}

/*Mountain Landscape*/
body.mountain{
  /*Base*/
  --primaryColorOne: rgb(245,245,245);
  --secondColorTwo: rgb(35,35,40);
  /*Accents*/
  --accentPine: rgb(44,120,74);
  --accentSunset: rgb(255,140,50);
  --accentSky: rgb(130,170,255);
  --accentSnow: rgb(220,220,220);
}

@media (prefers-color-scheme: dark) {
  body.mountain {
    --primaryColorOne: rgb(35, 35, 40);
    --secondaryColorTwo: rgb(245, 245, 245);

    --accentPine: rgb(44, 120, 74);
    --accentSnow: rgb(220, 220, 220);
    --accentSunset: rgb(255, 140, 50);
    --accentSky: rgb(130, 170, 255);
  }
}



body {
  background-color: var(--primaryColor);
  color: var(--secondaryColor);
}
